# Ignorar dependencias
backend/node_modules/
frontend/node_modules/

# Ignorar variables de entorno
backend/.env
frontend/.env

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Build y logs
backend/logs/
frontend/logs/
backend/dist/
frontend/build/

# Otros archivos innecesarios
npm-debug.log*
yarn-debug.log*
yarn-error.log*
